In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Invoice Dataset.csv")
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200782669,SYGMA trust,2019-12-31 00:00:00,2019.0,1.930230e+09,2019-12-06,20191206,20191206,20191226.0,USD,RV,1.0,NaN,39006.83,20191206.0,NAD1,1.930230e+09,0
1,U001,0200706844,WINC corporation,NaN,2020.0,1.930646e+09,2020-03-13,20200312,20200313,20200328.0,USD,RV,1.0,NaN,41888.61,20200313.0,NAA8,1.930646e+09,1
2,CA02,CCU001,KRAFT trust,2019-03-01 00:00:00,2019.0,2.960526e+09,2019-01-31,20190131,20190131,20190308.0,CAD,RV,1.0,NaN,28538.40,20190201.0,NAG2,2.960526e+09,0
3,U001,0200769623,WAL-MAR trust,2019-11-12 00:00:00,2019.0,1.930090e+09,2019-11-02,20191101,20191102,20191117.0,USD,RV,1.0,NaN,61935.80,20191102.0,NAH4,1.930090e+09,0
4,U001,0200769623,WAL-MAR,2019-04-26 00:00:00,2019.0,1.929143e+09,2019-04-13,20190413,20190413,20190428.0,USD,RV,1.0,NaN,1328.25,20190413.0,NAH4,1.929143e+09,0

In [3]:
df=df[df['clear_date'].notna()]
df.shape

(40000, 19)

In [4]:
# Finding the differnet categories of the aging bucket for the entire dataset
from datetime import date
def get_no_of_days(features):
    due_in_date=features[0]
    predicted_clear=features[1]
    init_year=due_in_date.year
    init_month=due_in_date.month
    init_day=due_in_date.day
    
    final_year=predicted_clear.year
    final_month=predicted_clear.month
    final_day=predicted_clear.day 
    
    date_1 = date(year=final_year, month=final_month, day=final_day)
    date_2 = date(year=init_year, month=init_month, day=init_day)

    date_delta = date_1 - date_2        
    number_of_days = date_delta.days    
    return number_of_days

In [5]:
df['clear_date']=df['clear_date'].apply(lambda x:x.split()[0])
df['clear_date'] = pd.to_datetime(df['clear_date'])
data_types_dict = {'due_in_date': int}
df = df.astype(data_types_dict)
df['due_in_date'] = pd.to_datetime(df['due_in_date'], format='%Y%m%d')

<ipython-input-5-e4fdbd25e5ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clear_date']=df['clear_date'].apply(lambda x:x.split()[0])
<ipython-input-5-e4fdbd25e5ee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clear_date'] = pd.to_datetime(df['clear_date'])

In [6]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200782669,SYGMA trust,2019-12-31,2019.0,1.930230e+09,2019-12-06,20191206,20191206,2019-12-26,USD,RV,1.0,NaN,39006.83,20191206.0,NAD1,1.930230e+09,0
2,CA02,CCU001,KRAFT trust,2019-03-01,2019.0,2.960526e+09,2019-01-31,20190131,20190131,2019-03-08,CAD,RV,1.0,NaN,28538.40,20190201.0,NAG2,2.960526e+09,0
3,U001,0200769623,WAL-MAR trust,2019-11-12,2019.0,1.930090e+09,2019-11-02,20191101,20191102,2019-11-17,USD,RV,1.0,NaN,61935.80,20191102.0,NAH4,1.930090e+09,0
4,U001,0200769623,WAL-MAR,2019-04-26,2019.0,1.929143e+09,2019-04-13,20190413,20190413,2019-04-28,USD,RV,1.0,NaN,1328.25,20190413.0,NAH4,1.929143e+09,0
5,CA02,0140105686,SYSC,2019-05-27,2019.0,2.960545e+09,2019-05-10,20190510,20190510,2019-05-21,CAD,RV,1.0,NaN,44608.20,20190511.0,CA10,2.960545e+09,0

In [8]:
df['aging_bucket']=df[['due_in_date','clear_date']].apply(get_no_of_days,axis=1)
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,aging_bucket
0,U001,0200782669,SYGMA trust,2019-12-31,2019.0,1.930230e+09,2019-12-06,20191206,20191206,2019-12-26,USD,RV,1.0,NaN,39006.83,20191206.0,NAD1,1.930230e+09,0,5
2,CA02,CCU001,KRAFT trust,2019-03-01,2019.0,2.960526e+09,2019-01-31,20190131,20190131,2019-03-08,CAD,RV,1.0,NaN,28538.40,20190201.0,NAG2,2.960526e+09,0,-7
3,U001,0200769623,WAL-MAR trust,2019-11-12,2019.0,1.930090e+09,2019-11-02,20191101,20191102,2019-11-17,USD,RV,1.0,NaN,61935.80,20191102.0,NAH4,1.930090e+09,0,-5
4,U001,0200769623,WAL-MAR,2019-04-26,2019.0,1.929143e+09,2019-04-13,20190413,20190413,2019-04-28,USD,RV,1.0,NaN,1328.25,20190413.0,NAH4,1.929143e+09,0,-2
5,CA02,0140105686,SYSC,2019-05-27,2019.0,2.960545e+09,2019-05-10,20190510,20190510,2019-05-21,CAD,RV,1.0,NaN,44608.20,20190511.0,CA10,2.960545e+09,0,6

In [10]:
pd.DataFrame(df['aging_bucket'].value_counts()).nlargest(20,'aging_bucket')

     aging_bucket
 0           8560
 1           4764
 2           3932
-5           3001
-4           2717
-1           2598
 3           2188
-3           2125
-2           1615
 4           1322
 5            918
 6            586
-8            542
-7            418
 7            391
 8            290
-9            272
-6            244
 9            241
 10           178